[Unit]
Description=Update the number of wikis on Miraheze
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStartPre=git pull
ExecStart=/usr/bin/uv run -m services.services_main
WorkingDirectory=/home/peter/Documents/jobs/Miraheze

[Install]
WantedBy=multi-user.target
